.bus-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.bus-search-box input {
    width: 600px;
    height: 40px;
    margin: 5px;
}

.bus-table {
    width: 1000px;
    margin-top: 40px;
}

.bus-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 1000px;
}

.bus-btn {
    margin: 5px;
    height: 40px;
}